.container {
  background-color: #ffff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-width: 100%;
}
.container-item {
  display: flex;
  justify-content: space-between;

}

.sidebar {
  display: flex;
  gap: 20px;
}

.inicio {
  color: #fb8716;
  font-weight: bold;
}

.link-button {
  padding: 10px 20px; /* Ajuste o espaçamento conforme necessário */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
}

.link-button:hover {
  background-color: #ff6600; /* Laranja quando o mouse passar sobre o link */
  color: white; /* Cor do texto quando o mouse passar sobre o link */
}
